<div class="
     text-center
     aboutMe
     ">

    Hi friend!
    <br />
    Welcome! My name is <b>Josh Plowman</b>.
    <br />
    I am a software engineer from the midwest who enjoys making music, cooking, and playing video games in my free time.
    <br />
    This app will serve as a very simple resume application created using html5 .net and angular.
    <br />

    <div class="stackUsed" style="padding:15px;">
      The app uses the following stack.
      <br />
      <ul>
        <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
        <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
        <li><a href='http://getbootstrap.com/'>Bootstrap</a> and <a href="https://material.io/design/">Material Design</a> for layout and styling</li>
        <li>Github and Azure for CI/CD</li>
      </ul>
    </div>
    
</div>


