<div class="text-center">
  <h1>Joshua Plowman</h1>
  <h4>(515) 778-5156</h4>
  <h4>22plowman@gmail.com</h4>
</div>

<div class="objectiveSection">
  <h4 class="">Objective</h4>
  <p>
    Provide elegant solutions with an intuitive user experience.
  </p>
</div>

<div class="educationSection">
  <h4>Education</h4>
  <p>
    Neumont University @ Salt Lake City, Utah
    <br />
    Waukee High School @ Waukee, Iowa
  </p>
</div>

<div class="skillsSection">
  <h4>Skills</h4>
  <h5>
    Programming
  </h5>
  <ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and
    <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a>
    for cross-platform server-side code
    </li>
    <li>
    <a href='https://angular.io/'>Angular</a> and
    <a href='http://www.typescriptlang.org/'>TypeScript</a>
    for client-side code
    </li>
    <li>
      <a href='http://getbootstrap.com/'>Bootstrap</a> /
      <a href='https://sass-lang.com/'>Sass</a> 
      for layout and styling
    </li>
  </ul>

  <h5>
    Tools
  </h5>
  <ul>
    <li>
      <a href='https://get.asp.net/'>IntelliJ</a> /
    <a href='https://visualstudio.microsoft.com/vs/'>Visual Studio</a> /
    <a href='https://www.sublimetext.com/'>Sublime Text</a> /
    <a href='http://brackets.io/'>Brackets</a>
    for manipulating code
    </li>
    <li>
      <a href='http://getbootstrap.com/'>GiT</a> /
      <a href='https://azure.microsoft.com/en-us/services/devops/server/'>Azure Devops Server</a> / 
      <a href='https://www.microsoft.com/en-us/download/details.aspx?id=48259'>TFS</a> 
      for version control
    </li>
    <li>
      <a href='https://sass-lang.com/'>Azure</a> /
    <a href='https://sass-lang.com/'>Azure Pipeline</a> /
    <a href='https://aws.amazon.com/codedeploy/?hp=tile&so-exp=below'>AWS CodeDeploy</a> 
    to deploy
    </li>
    <li>
      <a href='https://karma-runner.github.io/latest/index.html'>Karma</a> /
      <a href='https://jasmine.github.io/'>Jasmine</a> 
      JS test runner and test framework
    </li>
    <li>
    <a href='https://gulpjs.com/'>Gulp</a> build automation
    </li>
    <li>
      <a href='https://www.docker.com/'>Docker</a> /
      <a href='https://kubernetes.io/'>Kubernetes</a> 
      app containment
    </li>

  </ul>
</div>

