<div class="text-center">
  <h1>Joshua Plowman</h1>
  <h4>(515) 778-5156</h4>
  <h4>22plowman@gmail.com</h4>
</div>

<div class="objectiveSection">
  <h4 class="">Objective</h4>
  <p>
    A position where I can use my passion for technology to achieve my goals.
  </p>
</div>

<div class="educationSection">
  <h4>Education</h4>
  <p>
    Neumont University @ Salt Lake City, Utah
    <br />
    Waukee High School @ Waukee, Iowa
  </p>
</div>

<div class="skillsSection">
  <h4>Skills</h4>
  <h5>
    Programming
  </h5>
  <ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><a href='https://sass-lang.com/'>Sass</a> CSS preprocessing</li>
  </ul>

  <h5>
    Tools
  </h5>
  <ul>
    <li>
      <a href='https://get.asp.net/'>IntelliJ</a> /
    <a href='https://visualstudio.microsoft.com/vs/'>Visual Studio</a> /
    <a href='https://www.sublimetext.com/'>Sublime Text</a> /
    <a href='http://brackets.io/'>Brackets</a>
    for manipulating code
    </li>
    <li>
      <a href='http://getbootstrap.com/'>GiT</a> /
      <a href='https://azure.microsoft.com/en-us/services/devops/server/'>Azure Devops Server</a> / 
      <a href='https://www.microsoft.com/en-us/download/details.aspx?id=48259'>TFS</a> 
      for version control
    </li>
    <li>
      <a href='https://sass-lang.com/'>Azure</a> /
    <a href='https://sass-lang.com/'>Azure Pipeline</a> /
    <a href='https://aws.amazon.com/codedeploy/?hp=tile&so-exp=below'>AWS CodeDeploy</a> 
    to deploy
    </li>
    <li>
      <a href='https://karma-runner.github.io/latest/index.html'>Karma</a> /
      <a href='https://jasmine.github.io/'>Jasmine</a> 
      JS test runner and test framework
    </li>
    <li>
    <a href='https://gulpjs.com/'>Gulp</a> build automation
    </li>
    <li>
      <a href='https://www.docker.com/'>Docker</a> /
      <a href='https://kubernetes.io/'>Kubernetes</a> 
      application containment
    </li>

  </ul>
</div>


<div>

  todo remove
  <p>To help you get started, we've also set up:</p>
  <ul>
    <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
    <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
    <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
  </ul>
  <p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
  >
</div>
