<div class="text-center">
  <h1>Joshua Plowman</h1>
  <h4>(515) 778-5156</h4>
  <h4>22plowman@gmail.com</h4>
</div>

<div class="objectiveSection">
  <h4 class="">Objective</h4>
  <p>
    Provide eloquent software solutions with an elegant user experience.
  </p>
</div>

<div class="educationSection">
  <h4>Education</h4>
  <p>
    <b>Computer Science </b> @ <b>Neumont University</b> in Salt Lake City, Utah
    <br />
    <b>Waukee High School</b> in Waukee, Iowa
  </p>
</div>

<div class="skillsSection">
  <h4>Skills</h4>
  <h5>
    Programming
  </h5>
  <ul>

    <li>
      <a href='https://www.javascript.com/'>Javascript</a>
      <ul>
        <li>
          <a href='https://angular.io/'>Angular</a>
        </li>
        <li>
          <a href='http://www.typescriptlang.org/'>TypeScript</a>
        </li>
      </ul>
    </li>

    <li>
      <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a>
      <ul>
        <li>
          <a href='https://get.asp.net/'>ASP.NET Core</a>
        </li>
        <li>
          <a href='http://www.typescriptlang.org/'>TypeScript</a>
        </li>
      </ul>
    </li>

    <li>
      <a href='https://www.ruby-lang.org/en/'>Ruby</a>
      <ul>
        <li>
          <a href='https://rubyonrails.org/'>Rails</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="https://www.python.org/">Python</a>
      <ul>
        <li>
          <a href='https://www.djangoproject.com/'>Django</a>
        </li>
        <li>
          <a href='https://www.fullstackpython.com/flask.html'>Flask</a>
        </li>
      </ul>
    </li>

    <li>
      Databases
      <ul>
        <li>
          <a href='https://www.infoworld.com/article/3219795/what-is-sql-the-first-language-of-data-analysis.html'>SQL</a>
        </li>
        <li>
          <a href='https://www.postgresql.org/'>PostgreSQL</a>
        </li>
        <li>
          <a href='https://www.mongodb.com/'>MongoDB</a>
        </li>
        <li>
          <a href='https://oss.oetiker.ch/rrdtool/'>RRDtool</a>
        </li>
      </ul>
    </li>

    <li>
      Style
      <ul>
        <li>
          <a href='http://getbootstrap.com/'>Bootstrap</a>
        </li>
        <li>
          <a href='https://sass-lang.com/'>Sass</a>
        </li>
      </ul>
    </li>
  </ul>

  <h5>
    Tools
  </h5>
  <ul>
    <li>
      <a href='https://get.asp.net/'>IntelliJ</a> /
      <a href='https://visualstudio.microsoft.com/vs/'>Visual Studio</a> /
      <a href='https://www.sublimetext.com/'>Sublime Text</a> /
      <a href='http://brackets.io/'>Brackets</a>
      for manipulating code
    </li>
    <li>
      <a href='http://getbootstrap.com/'>GiT</a> /
      <a href='https://azure.microsoft.com/en-us/services/devops/server/'>Azure Devops Server</a> /
      <a href='https://www.microsoft.com/en-us/download/details.aspx?id=48259'>TFS</a>
      for version control
    </li>
    <li>
      <a href='https://sass-lang.com/'>Azure</a> /
      <a href='https://sass-lang.com/'>Azure Pipeline</a> /
      <a href='https://aws.amazon.com/codedeploy/?hp=tile&so-exp=below'>AWS CodeDeploy</a> /
      <a href='https://heroku.com/'>Heroku</a> /
      to deploy
    </li>
    <li>
      <a href='https://karma-runner.github.io/latest/index.html'>Karma</a> /
      <a href='https://jasmine.github.io/'>Jasmine</a>
      JS test runner and test framework
    </li>
    <li>
      <a href='https://gulpjs.com/'>Gulp</a> build automation
    </li>
    <li>
      <a href='https://www.docker.com/'>Docker</a> /
      <a href='https://kubernetes.io/'>Kubernetes</a>
      app containment
    </li>
  </ul>

  <h5>
    Operating Systems
  </h5>
  <ul>
    <li>
      Windows (7/8/<a href='https://www.microsoft.com/en-us/windows/features'>10</a>)
    </li>
    <li>
      Linux (<a href='https://ubuntu.com/'>Ubuntu</a> / <a href='https://www.kali.org/'>Kali</a>)
    </li>
  </ul>

</div>

