<div class="text-right">
  <a href="https://www.dropbox.com/s/kqrtsr4mgnkh8yr/Josh_Plowman_Resume_2019.odt?dl=1" download="Josh Plowman Resume.txt">Download</a>
</div>
<div class="text-center">
  <h1>Joshua Plowman</h1>
  <h4>(515) 778-5156</h4>
  <h4>22plowman@gmail.com</h4>
</div>

<div class="objectiveSection">
  <h4 class="">Objective</h4>
  <p>
    Provide eloquent software solutions with an elegant user experience.
  </p>
</div>

<div class="educationSection">
  <h4>Education</h4>
  <p>
    <b>Computer Science </b> @ <b>Neumont University</b> in Salt Lake City, Utah
    <br />
    <b>Waukee High School</b> in Waukee, Iowa
  </p>
</div>

<div class="skillsSection">
  <h4>Skills</h4>
  <ul>
    <h5>
      Programming
    </h5>
    <ul>
      <li>
        <a href='https://www.javascript.com/'>Javascript</a>
        <ul>
          <li>
            <a href='https://angular.io/'>Angular</a>
          </li>
          <li>
            <a href='http://www.typescriptlang.org/'>TypeScript</a>
          </li>
        </ul>
      </li>

      <li>
        <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a>
        <ul>
          <li>
            <a href='https://get.asp.net/'>ASP.NET Core</a>
          </li>
        </ul>
      </li>

      <li>
        <a href='https://www.ruby-lang.org/en/'>Ruby</a>
        <ul>
          <li>
            <a href='https://rubyonrails.org/'>Rails</a>
          </li>
        </ul>
      </li>

      <li>
        <a href="https://www.python.org/">Python</a>
        <ul>
          <li>
            <a href='https://www.djangoproject.com/'>Django</a>
          </li>
          <li>
            <a href='https://www.fullstackpython.com/flask.html'>Flask</a>
          </li>
        </ul>
      </li>

      <li>
        Databases
        <ul>
          <li>
            <a href='https://www.infoworld.com/article/3219795/what-is-sql-the-first-language-of-data-analysis.html'>SQL</a>
          </li>
          <li>
            <a href='https://www.postgresql.org/'>PostgreSQL</a>
          </li>
          <li>
            <a href='https://www.mongodb.com/'>MongoDB</a>
          </li>
          <li>
            <a href='https://oss.oetiker.ch/rrdtool/'>RRDtool</a>
          </li>
        </ul>
      </li>

      <li>
        Style
        <ul>
          <li>
            <a href='http://getbootstrap.com/'>Bootstrap</a>
          </li>
          <li>
            <a href='https://sass-lang.com/'>Sass</a>
          </li>
        </ul>
      </li>
    </ul>
  </ul>

  <h4>
    Tools
  </h4>
  <ul>

    <li>
      IDE
      <ul>
        <li>
          <a href='https://www.jetbrains.com/idea/'>IntelliJ</a>
        </li>
        <li>
          <a href='https://visualstudio.microsoft.com/vs/'>Visual Studio</a>
        </li>
        <li>
          <a href='https://www.sublimetext.com/'>Sublime Text</a>
        </li>
        <li>
          <a href='http://brackets.io/'>Brackets</a>
        </li>
      </ul>
    </li>

    <li>
      Version Control
      <ul>
        <li>
          <a href='https://github.com/joshplow'>Github</a>
        </li>
        <li>
          <a href='https://azure.microsoft.com/en-us/services/devops/server/'>Azure Devops Server</a>
        </li>
        <li>
          <a href='https://www.microsoft.com/en-us/download/details.aspx?id=48259'>TFS</a>
        </li>
      </ul>
    </li>

    <li>
      Deployment
      <ul>
        <li>
          <a href='https://azure.microsoft.com/en-us/'>Azure</a>
        </li>
        <li>
          <a href='https://aws.amazon.com/codedeploy/?hp=tile&so-exp=below'>AWS CodeDeploy</a>
        </li>
        <li>
          <a href='https://heroku.com/'>Heroku</a>
        </li>
      </ul>
    </li>

    <li>
      Test Driven Development
      <ul>
        <li>
          <a href='https://karma-runner.github.io/latest/index.html'>Karma</a>
        </li>
        <li>
          <a href='https://jasmine.github.io/'>Jasmine</a>
        </li>
      </ul>
    </li>

    <li>
      Automation / Containment
      <ul>
        <li>
          <a href='https://gulpjs.com/'>Gulp</a>
        </li>
        <li>
          <a href='https://www.docker.com/'>Docker</a>
        </li>
        <li>
          <a href='https://kubernetes.io/'>Kubernetes</a>
        </li>
      </ul>
    </li>

  </ul>


  <h4>
    Operating Systems
  </h4>
  <ul>
    <li>
      Windows (7/8/<a href='https://www.microsoft.com/en-us/windows/features'>10</a>)
    </li>
    <li>
      Linux (<a href='https://ubuntu.com/'>Ubuntu</a> / <a href='https://www.kali.org/'>Kali</a>)
    </li>
  </ul>

  <div class="workExperienceSection" style="padding:10px;">
    <h4>
      Work Experience
    </h4>
    <div class="sfgSection">
      <p>
        <b>Software Analyst 2 </b>
        <br />
        Sammons Financial Group - 6 Month extened to 2 Year Salary
      </p>
      <ul>
        <li>
          Analyze web ecosystem and develop solutions to improve user and developer experiences while also meeting business needs
        </li>
        <li>
          Collaborate in an enterprise environment to facilitate work between teams that enhances application ecosystem as a whole
        </li>
        <li>
          Analyze code and support the design and documentation of updates to legacy and startup applications utilized by apps supported through the web enchancements team.
        </li>
        <li>
          Create automation tools for web applications using javascript and stored procedures
        </li>
        <li>
          Worked in an evolving agile setting; the company allowed different teams to define what agile meant to them and how it would work for their team.
        </li>
        <li>
          Created TDD documentation and testbeds for my team to accelerate the TDD process. Quickly became the expert for our team and cut down the work required to run shallow tests significantly.
        </li>
        <li>
          Used tools such as gulp, kubernetes and docker to maintain continuous delivery and grunt to run tests, minification, and style check on build - this allowed us to keep our git branch clean before a commit could be made and provided the team with confidence during deployment.
        </li>
        <li>
          Languages used most frequently were Angular & .net. Secondary languages used were java spring, sql, sass. IDE most used was intelliJ.
        </li>
        <li>
          Improvement of support functions to better adress the needs of our web team. This included working with onsite and offsite support teams to better triage our customer's issues. Working with them and defining each other's needs created a faster turn around due to our clients providing more useful information about their issue.
        </li>
      </ul>
    </div>

    <div class="qciSection">
      <p>
        <b>Software Consultant</b>
        <br />
        Quality Consulting Inc. - 1 Year Contract
      </p>
      <ul>
        <li>
          Developed solutions for multiple projects using Angular, .NET, CSS, UWP, bootstrap
        </li>
        <li>
          Collaborated in a development center in an Agile team providing consultation on multiple projects
        </li>
        <li>
          Provide solutions to improve front-end experience and work closely with clients and Quality Assurance
        </li>
        <li>
          The company is mostly a .net shop so tech stack was usually .net backend and angular frontend on the newer projects. Webforms on the older projects.
        </li>
      </ul>
    </div>

    <div class="ecfSection">
      <p>
        <b>Vulnerability and Penetration Tester</b>
        <br />
        Ecfirst - 1 Year Contract
      </p>
      <ul>
        <li>
          Responsible for conducting vulnerability assessments on web applications, assisting with penetration tests and finding fixes for vulnerabilities to present to a client
        </li>
        <li>
          Followed HIPA standards and practiced ethical hacking procedures.
        </li>
        <li>
          Used tools such as Amazon AWS, Burp, Nexpose, Kali, VMware, Putty, Python
        </li>
        <li>
          Worked remotely and collaborated with off-site team members, we would run scans externally before an internal exam. Any vulnerability we deemed as high risk was cataloged and then explained to our client, along with tips on how to fix the issue.
        </li>
        <li>
          Used AWS and Kali Linux to assist with vulnerability scans and differentiated between false flags and actual vulnerabilities.
        </li>
      </ul>
    </div>

    <div class="ippSection">
      <p>
        <b>Software Developer</b>
        <br />
        IP Pathways - 1 Year Contract
      </p>
      <ul>
        <li>
          Responsible for the design and implementation of a customer portal that allows users to monitor their bandwidth traffic
        </li>
        <li>
          Used tools such as Ruby on Rails, Angular, .net, CSS, Bootstrap, MS SQL Server 2008, GiT, Heroku, RRD Tool
        </li>
        <li>
          Met weekly with VP and CTO to review progress, also set them up with a version control system (GiT) and deployed on heroku so they could view the app in-development
        </li>
        <li>
          Occasionally acted as a software consultant for clientelle, advising them on technical matters.
        </li>
      </ul>
    </div>

    <div class="catSection">
      <p>
        <b>Java Developer</b>
        <br />
        Caterpillar - 6 Month extended to 1 Year Contract
      </p>
      <ul>
        <li>
          Worked as a Java Developer in the Systems Diagnostics team creating utility plug-ins for a program used to create diagnostics that notified a customer when a product required maintenance
        </li>
        <li>
          Used tools such as Python, Java, Eclipse, GiT, PuTTy, MySQL on a Windows 7 OS
        </li>
        <li>
          Diagnosed, troubleshot, and repaired complex legacy bugs. Most of which were 10+ years old 
        </li>
        <li>
          Collaborated with the in-house client and a manager to design and implement software to meet the needs of the systems diagnostics team
        </li>
      </ul>
    </div>

  </div>

